/* Reset css */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Mada";
    src: url(../font/Mada-Regular.ttf);
}

@font-face {
    font-family: "Mada-Bold";
    src: url(../font/Mada-Bold.ttf);
}

@font-face {
    font-family: "Segoe";
    src: url(../font/segoesc.ttf);
}


/*---------------------------*\
GENERAL
\*---------------------------*/

body {
    font-family: "Mada";
    scrollbar-color: rgb(230, 230, 230);
    scrollbar-width: thin;
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
    max-width: 100%;
    font-family: "Mada";
    background-color: #F4EFED;
}

@media screen and (max-width: 880px) {

    body {
        font-size: 1em;
    }
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: #333399;
    /* #FF005C */
    /* #F18728 */
    border: 3px solid #F4EFED;
    border-radius: 10px;
}

/*---------------------------*\
NAVIGATION
\*---------------------------*/

header nav {
    position: fixed;
    z-index: 3;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 15px;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    header nav {
        position: fixed;
        z-index: 3;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.95);
        padding: 15px;
        border-radius: 10px;
    }

    nav div a:nth-child(1) {
        margin-right: 0;
    }

    nav a.logo-nav {
        display: flex;
        justify-content: start;
        width: 30%;
    }
}

nav a img.logo {
    display: flex;
    justify-content: start;
    width: 50%;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav div a:nth-child(1) {
    margin-right: 2.5em;
}

nav div a {
    transition: 400ms;
    color: black;
}

nav div a:hover {
    border-bottom: 2px solid #ff00CC;
    color: #333399;
}

/*---------------------------*\
            HEADER
\*---------------------------*/

header {
    display: flex;
    flex-direction: column;
}

/*modifier l'image*/
header div img {
    z-index: -1;
    position: relative;
}

/*phrase d'accroche */
header div h1 {
    z-index: 1;
    max-width: 100%;
    font-size: 1.5em;
    position: absolute;
    margin-top: -10%;
    margin-left: 20%;
    font-weight: normal;
}


.acroche p {
    display: flex;
    justify-content: end;
    align-items: center;
}

.acroche p a {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Call To Action */
.btn-CTA {
    margin-top: 10px;
    color: white;
    background: linear-gradient(111.54deg, #ff00CC 0%, #333399 100%);
    border-radius: 80px;
    padding: 15px 20px;
    text-align: center;
    transition: 0.4s ease;
    font-size: 1.5em;
    opacity: 0.6;
    position: relative;
    height: 50px;
}

.btn-CTA:hover {
    opacity: 1;
    background: linear-gradient(111.54deg, #333399 0%, #ff00CC 100%);
}

.btn-CTA::after {
    height: 110%;
    width: 105%;
    position: absolute;
    transition: 0.4s ease;
    opacity: 0;
    margin-bottom: 8px;
    margin-left: 10px;
    content: '';
    left: 0;
    bottom: 0;
    border-radius: 80px;
    border: 2px solid black;
    transform: translate(10%, 5%)
}

.btn-CTA::after:hover {
    transform: translate(0, 0);
    opacity: 1;
}

@media screen and (max-width: 480px) {
    header div h1 {
        font-size: 15px;
    }

    .acroche p {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .acroche p a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-CTA {
        margin-top: 30px;
        padding: 10px;
        font-size: 15px;
    }
}

/*---------------------------*\
            SECTIONS
\*---------------------------*/
header,
article,
footer {
    margin: 1% 5%;
}


.presentation-div,
.speaker-div,
.programme-div,
.decouvrir-div,
.grenadine-div {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

@media screen and (max-width: 1080px) {

    .presentation-div,
    .speaker-div,
    .programme-div,
    .decouvrir-div,
    .grenadine-div {
        margin-top: 5%;
    }

}

@media screen and (max-width: 480px) {

    header,
    article,
    footer {
        margin: 1% 2%;
    }

    .presentation-div,
    .speaker-div,
    .programme-div,
    .decouvrir-div,
    .grenadine-div {
        margin-top: 3%;
    }

}

.acroche {
    text-align: center;
}

.decouvrir-div,
.acroche {
    padding-top: 50px;
}

.right {
    display: flex;
    flex-direction: column;
    float: right;
    text-align: end;
}

h2 {
    font-size: 4.375em;
}

/* etoile des h2 */
h2 img.etoiles {
    width: 20px;
    margin: 0 0 35px 5px;
}

.titre-degrade {
    background: linear-gradient(45deg, #ff00CC, #333399);
    font-size: 6.5em;
    opacity: 0.5;
    position: absolute;
    z-index: -2;
    top: -15px;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-weight: bold;
}

@media screen and (max-width: 1080px) {

    h2 {
        font-size: 5em;
    }

    .titre-degrade {
        font-size: 5em;
    }
}

@media screen and (max-width: 880px) {

    h2 {
        font-size: 3em;
    }

    .titre-degrade {
        font-size: 3em;
    }
}

/* titre deroulant continu */

.marquee {
    width: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #ccc;
}

.ticker-title {
    color: #ff00CC;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    font-size: 3em;
    text-transform: uppercase;
    border: 2px solid #ff00CC;
    transform: matrix(1, -0.03, -0.03, 1, 0, 0);
}

.ticker-title>* {
    display: inline-block;
    color: #ff00CC;
    margin-right: 20px;
    letter-spacing: 0.095em;
    animation: title 20s infinite linear;
}

@keyframes title {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1100px);
    }
}

/*---------------------------*\
PARTIE 1 : PRESENTATION
\*---------------------------*/
#presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.presentation-lieu {
    position: relative;
    padding: 150px 0 100px 0;
    overflow: hidden;
    font-size: 2em;
    width: 70%;
}

.presentation-lieu p.titre-degrade {
    top: -10px;
}


@media screen and (max-width: 980px) {

    .presentation-div {
        width: 90%;
        justify-content: end;
    }

    .presentation-lieu {
        position: relative;
        padding: 50px 0;
        font-size: 1em;
    }

    .presentation-lieu p.titre-degrade {
        right: 0;
    }
}

.ligne {
    text-decoration: underline;
    color: #333399;
}

.ligne a {
    color: #333399;
}

.cercle {
    position: absolute;
    width: 65%;
    z-index: -1;
    left: 0;
    top: 400px;
    margin: 0;
}

.presentation-div h2 {
    text-align: end;
}

.presentation-div p {
    margin-bottom: 10px;
}

.presentation-metier {
    width: 70%;
    padding-left: 20px;
}

@media screen and (max-width: 480px) {
    .presentation-metier {
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: end;
    }
}

.presentation-metier p {
    text-align: left;
    margin-bottom: 20px;
}

span.italic {
    font-family: "Segoe";
    font-weight: bold;
}

div.presentation-div p span.gros {
    font-size: 2em;
    font-weight: bold;
}

section div.presentation-div img.cerclemmix {
    background-image: url("../img/cercle_mmix.svg");
    background-size: cover;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
}

/*---------------------------*\
PARTIE 1 : PRESENTATION SUITE : nous trouver
\*---------------------------*/
.carte {
    margin-right: 10px;
    max-width: 90%;
}

div.presentation-carte {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

div.presentation-carte>p {
    top: -90px;
    left: -40px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

div.presentation-carte ul li {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 20px 0;
}

div.presentation-carte ul li img {
    width: 10%;
    margin-right: 15px;
}

@media screen and (max-width: 980px) {
    div.presentation-carte>p {
        top: -60px;
        left: -5px;
    }

    div.presentation-carte {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 780px) {
    div.presentation-carte>p {
        top: -20px;
        left: -5px;
    }
}

@media screen and (max-width: 480px) {
    div.presentation-carte>p {
        top: 10px;
        left: -5px;
    }

    div.presentation-carte {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px 50px;
    }

    div.presentation-carte .carte {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

/*---------------------------*\
PARTIE 2 : SPEAKER
\*---------------------------*/

.speaker-scroller {
    display: grid;
    width: 80%;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    padding: 0;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.speaker-scroller::-webkit-scrollbar {
    width: 1em;
    border: none;
}

.speaker-scroller::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff00CC, #333399);
    border-radius: 30px;
}

.speaker-element {
    position: relative;
    display: grid;
    padding: 5px 0;
    text-align: center;
}

.speaker-element>img {
    background: linear-gradient(45deg, #ff00CC, #333399);
    padding: 5px;
    inline-size: 70%;
    object-fit: cover;
    position: relative;
}

div.speaker-div div.speaker-element>div {
    position: absolute;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 500ms ease;
    background-color: white;
}

div.speaker-div div.speaker-element>div:hover {
    opacity: 0.85;
    display: flex;
}


/*---------------------------*\
PARTIE 3 : EVENEMENT
\*---------------------------*/

/* partie découvrir */
.decouvrir-div {
    align-items: flex-start;
    position: relative;
}

.decouvrir-div-elements {
    display: flex;
    flex-direction: row;
}

.decouvrir-div-elements>img {
    max-width: 50%;
    object-fit: cover;
}

.decouvrir-div h3 {
    top: 100px;
    z-index: 1;
    right: 0;
    font-size: 5.5em;
}

.storytelling {
    margin-top: 130px;
    padding-left: 10px;
}

@media screen and (max-width: 980px) {
    .storytelling {
        margin-top: 50px;
    }

    .decouvrir-div h3 {
        top: 350px;
        font-size: 3em;
    }

    .decouvrir-div-elements {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 780px) {
    .decouvrir-div h3 {
        top: 280px;
        font-size: 2em;
    }

    .storytelling {
        margin-top: 30px;
    }
}

@media screen and (max-width: 580px) {
    .decouvrir-div h3 {
        top: 200px;
    }
}

/*---------------------------*\
PARTIE 5 : AGENCE
\*---------------------------*/
#quisommesnous {
    margin-top: 5%;
    text-align: center;
}

.grenadine-div {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.grenadine-div h2 {
    top: -80px;
    right: 0;
}

.grenadine-div-texte {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 1%;
}

.grenadine-div-texte p {
    width: 60%;
}

@media screen and (max-width: 1080px) {
    .grenadine-div h2 {
        top: -30px;
    }

    .grenadine-div {
        display: flex;
        flex-direction: column;
    }

    .grenadine-div-texte {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 1%;
    }

    .grenadine-div-texte p {
        width: 100%;
    }
}

/*---------------------------*\
PARTIE 6 : FOOTER
\*---------------------------*/

footer {
    margin-top: 100px;
}

footer div.reseaux-div {
    border: 1px solid #CEC9C9;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer1-div {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.footer1-div>article {
    display: flex;
    flex-direction: column;
    width: 50%;
}


footer .footer2-div .logo-departement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

.footer2-div .logo-departement img {
    width: 15%;
    padding: 30px;
}

@media screen and (max-width: 980px) {
    footer div.reseaux-div img {
        width: 50%;
    }

    .footer2-div .logo-departement img {
        width: 15%;
        padding: 10px;
    }
}

.copyright {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.copyright a {
    color: black;
    text-decoration: underline 1px;
}

.copyright a:hover {
    color: #ff00CC;
    text-decoration: none;
}